In [118]:
# load the regular expression module
import re
import pandas as pd

# input the text will be used
sf = "555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert"
sf

'555-1239Moe Szyslak(636) 555-0113Burns, C. Montgomery555 -6542Rev. Timothy Lovejoy555 8904Ned Flanders636-555-3226Simpson, Homer5553642Dr. Julius Hibbert'

### Question 1
- Extract the names of each individual from the unformatted text string and store them in a vector of some sort. 
- In the provided text, names of each individual are combined by several alphabet only parts, and there is space, comma, or period between each part. Each part of the name must start with a capital letter so we use [A-Z]+ to start, followed by [a-z]+ and [\s.,]+.
- Some names have 2 alphabet parts while some names have 3, so the thirt part has * instead of +. Some names has only initial so [a-z] in this part also has a *.

In [104]:
#use re.findall to select all the names
sfnew = re.findall('[A-Z]+[a-z]+[\s.,]+[A-Z]+[a-z]*[\s.,]*[A-Z]*[a-z]*', sf)
sfnew

['Moe Szyslak',
 'Burns, C. Montgomery',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Simpson, Homer',
 'Dr. Julius Hibbert']

### Question 2
### a. 
- Rearrange the vector so that all elements conform to the standard “firstname lastname”. 
- Names that do not in the standard have a comma between last name and first name. We can use re.compile function to retrive everything before the comma, the comma, and everything after the comma. Then for the names with wrong forms, we use sub function to reorder the necessary parts into the standard.

In [115]:
#use re.compile function to rearrange the order of the names
r = re.compile('(^.*)(, )(.*$)')
sfnew[1] = r.sub(r'\3 \1', sfnew[1])
sfnew[4] = r.sub(r'\3 \1', sfnew[4])
sfnew

['Moe Szyslak',
 'C. Montgomery Burns',
 'Rev. Timothy Lovejoy',
 'Ned Flanders',
 'Homer Simpson',
 'Dr. Julius Hibbert']

### b.
- Construct a logical vector indicating whether a character has a title. 
- A title is a word with a capital letter in the first and followed by a period, so we can use [A-Z]+[a-z]+[.] to identify a title within a name. 
- To use str.contains function to find the desired part inside of a name, we have to firstly convert the name list into a pandas series.

In [124]:
# convert the name list into pandas series
sfnew = pd.Series(sfnew)
# find in each item of the series to see if it contains a title
sfnew.str.contains('[A-Z]+[a-z]+[.]')

0    False
1    False
2     True
3    False
4    False
5     True
dtype: bool

### c.
- Construct a logical vector indicating whether a character has a middle/second name. 
- A second name appears here as the form of only initial followed by a period, so we can use [A-Z][.] to identify a second name within a name.

In [125]:
# find in each item of the series to see if it contains a second name
sfnew.str.contains('[A-Z][.]')

0    False
1     True
2    False
3    False
4    False
5    False
dtype: bool

### Question 3
- Consider the HTML string. We would like to extract the first HTML tag. To do so we write the regular expression <.+>.  Explain why this fails and correct the expression.
- This fails because instead of matching till the first occurrence of ‘>’ at the end of first tag itself, it extracted the whole string. This is the default greedy or ‘take it all’ behavior of regex.
- To extract only the first HTML tag, firstly we have to use <.+?> instead so that it will match till the first '>'; Then in order to keep only the first tag, we can use re.search() and group().

In [133]:
# input the text will be used
ht = "<title>+++BREAKING NEWS+++<title>"
# use re.search function to extract the first HTML tag
re.search('<.+?>', ht).group()

'<title>'

In [ ]:
### Question 4
- Consider the string '(5-3)^2=5^2-2*5*3+3^2' conforms to the binomial theorem. We would like to extract the formula in the string. To do so we write the regular expression '[^0-9=+*()]+'. Explain why this fails and correct the expression.
-

In [134]:
#
bt = "(5-3)^2=5^2-2*5*3+3^2"
re.findall('[^0-9=+*()]+', bt)

['-', '^', '^', '-', '^']